
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {  
  --width: 250px;
  --bg-color: #fff;
  --alignment: center;
  --border-color:#000;
  --font-color:#fff;
  
  width:100vw;
  height:100vh;
  background-color:rgba(0, 0, 0, 0.55);
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: var(--alignment);
}

.content {
  width:var(--width);
  background-color: var(--bg-color);
  border:1px solid var(--border-color);
  padding: 8px;
  box-shadow: rgb(0, 0, 0) 0px 0px 6px 1px;
  border-radius:5px;
}


header {
  display: flex;
  align-items: center;
  position:relative;
  padding:4px 0;
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color);
}

header > h2 {
  font-size: 18px
}

header > img {
  height: 20px
  color: var(--font-color);
}

.close {
  position:absolute;
  right:0;
  top:0;
  width: 15px;
  cursor:pointer;
}

