:host {
  --bg-color: #fff;
  --border: 1px solid rgba(0,0,0,0.2);;
  --width: fit-content;
  
  position:relative;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: var(--width);
  height: fit-content;
  padding: 4px 8px;
  border: var( --border);
  border-radius:5px;
  background-color: var(--bg-color);
  transition: all 1s ease;
  box-sizing: border-box;
  margin: 0;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 4px 40px 0 0;
  width: fit-content;
}

header > * {
  margin:0;
}

header > .arrow {
  padding:0;
  width: 10px;
  transition: all 0.5s linear;
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}

header > .arrow.rotate {
  transform:rotate(90deg);
}

.items {
  transition: 1s ease-out;
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  width: 100%;
  height:0;
  overflow:hidden;
}

.items.show {
  height: fit-content; 
}