cw-stars-rate {
  --bg-color: #fff;
  --star-unselected-color: transparent;
  --star-selected-colot: #ffd700;
  --size: 24px;

  position:relative;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

cw-stars-rate > * {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


cw-stars-rate > .star {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--star-unselected-color);
  background-color: var(--bg-color);
  font-size: var(--size);
  transition:all 0.3s ease;
}

cw-stars-rate > .star.selected{
  color: var(--star-selected-colot);
}